<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    <div class="row spacer">
        <div class="col-2">
            <label>{{field_form.question.label}}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{field_form.question}}
            </div>
        </div>
    </div>

    {{ formset.management_form }}
    {% for form in formset %}
    <div class="row form-row spacer" id="form_set">
        <div class="col-2">
            <label>{{ form.choice_text.label }}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{ form.choice_text }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="input-group-append">
        <input type="button" class="btn btn-success" id="add_more" value="추가">
{#        <button class="btn btn-success" id="add_more">추가</button>#}
    </div>

    <div id="empty_form" style="display:none">
        <div class="col-2">
            <label>{{ formset.empty_form.choice_text.label }}</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                {{ formset.empty_form.choice_text }}
            </div>
        </div>
    </div>

    <div class="row spacer">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-block btn-primary">문항 추가</button>
        </div>
    </div>
</form>

    <!-- create_normal.html :: part 4 -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type='text/javascript'>
    $(document).ready(function() {
        $('#add_more').click(function(){
            var form_idx=$('#id_form-TOTAL_FORMS').val();
            console.log(form_idx);
            $('#form_set')
                .append(
                    $('#empty_form')
                        .html()
                        .replace(/__prefix__/g, form_idx)
                );
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx)+1);
        });
    });

</script>


