{% extends 'layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'survey/css/style.css'%}">
{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="survey-title" style="font-family : '나눔스퀘어'; margin-top : 80px;">{{ survey.title }}</h1>
        <hr style="width : 300px; margin-bottom : 50px;"/>

        <a class="btn btn-primary btn-lg add-button" href="{% url 'survey:make_multiple_choice' survey.id %}">
            multi-choice
        </a>
        <a class="btn btn-primary btn-lg add-button" href="{% url 'survey:make_text_answer' survey.id %}">
            text-answer
        </a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr class="cont">
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Question</th>
                </tr>
            </thead>
             <tbody>
                {% for field in field_list %}
                    <tr>
                        <td>{{ forloop.counter }}번</td>
                        <td>{{ field.type }}</td>
                        <td>
                            {{ field.question }}
{#                            {% if field.type == '1' %}#}
{#                                <i>(선지 list#}
{#                                    {% for choice in field.multiplechoice_set.all %}#}
{#                                        {{ choice }}/#}
{#                                    {% endfor %})#}
{#                                </i>#}
{#                            {% endif %}#}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'board:main' %}" id="submit-survey" class="btn btn-success btn-lg">Create</a>
    </div>

    <script>
    $(function() {
        $("#submit-survey").on('click', function () {
            alert("Survey was successfully created!")
        });
    });
    </script>
{% endblock %}
