{% load bootstrap4 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src=https://code.jquery.com/jquery-3.3.1.min.js integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container" style="margin-top : 50px;">
            <div class="row">
{#                <div class="col-sm-12">#}
{#                    <h1> Create Your Own Survey Form!</h1>#}
{#                    <input type="submit" value = "설문 폼 작성 완료" id="create-form" class="btn btn-success mt-5 mb-5">#}
{#                    <input type="button" value = "객관식 문항 추가" id="multi-choice" class="btn btn-primary">#}
{#                    <input type="button" value = "주관식 문항 추가" id="essay-question" class="btn btn-primary">#}
{#                    <input type="button" value = "단답형 문항 추가" id="short-answer" class="btn btn-primary">#}
{#                    <hr/>#}
{##}
                    <form action="" method="post" class="thisform">
                        {%  csrf_token %}
                        <table>
                            {{  field.as_table  }}
                        </table>
                    </form>
                    <hr/>
{##}
{#                    <div class="survey-form">#}
{#                        <div class="survey-body" style="width:500px;">#}
{#                            <span class="float-right" id="delete" style="cursor:pointer">#}
{#                                <strong>delete</strong>#}
{#                            </span>#}
{#                            <h4 class="survey-title">THIS IS TITLE</h4>#}
{#                            <h5 class="ordering">index: </h5>#}
{##}
{#                            <div class="question-fields">#}
{#                                <div class="essay-question">#}
{#                                    <input  type="text" class="form-control mb-3" style="margin-top : 30px; width : 500px;" placeholder="Question"/>#}
{#                                    <textarea  class="form-control mb-3" cols="30" rows="10" style="width : 500px;" placeholder="Answer"></textarea>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div id="contentWrap">#}
{##}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>

{#        <script>#}
{#            $('#multi-choice').click(function(e) {#}
{#                e.preventDefault();#}
{#                var plus = $('#contentWrap');#}
{#                    plus.append('<div class="multi-question">');#}
{#                    plus.append('<span class="float-right" id="delete" style="cursor:pointer"><strong>delete</strong></span>');#}
{#                    plus.append('<input  type="text" class="form-control mb-3" style="margin-top : 30px; width : 500px;" placeholder="Question"/>');#}
{#                    plus.append('<textarea  class="form-control mb-3" cols="30" rows="10" style="width : 500px;" placeholder="Answer"></textarea>');#}
{#                    plus.append('</div>');#}
{#            });#}
{#            $('#essay-question').click(function(e) {#}
{#                e.preventDefault();#}
{#                var plus = $('#contentWrap');#}
{#                    plus.append('<div class="essay-question">');#}
{#                    plus.append('<span class="float-right" id="delete" style="cursor:pointer"><strong>delete</strong></span>');#}
{#                    plus.append('<input  type="text" class="form-control mb-3" style="margin-top : 30px; width : 500px;" placeholder="Question"/>');#}
{#                    plus.append('<textarea  class="form-control mb-3" cols="30" rows="10" style="width : 500px;" placeholder="Answer"></textarea>');#}
{#                    plus.append('</div>');#}
{#            });#}
{#            $('#short-answer').click(function(e) {#}
{#                e.preventDefault();#}
{#                var plus = $('#contentWrap');#}
{#                    plus.append('<div class="short-answer">');#}
{#                    plus.append('<span class="float-right" id="delete" style="cursor:pointer"><strong>delete</strong></span>');#}
{#                    plus.append('<input  type="text" class="form-control mb-3" style="margin-top : 30px; width : 500px;" placeholder="Question"/>');#}
{#                    plus.append('<textarea  class="form-control mb-3" cols="30" rows="10" style="width : 500px;" placeholder="Answer"></textarea>');#}
{#                    plus.append('</div>');#}
{#            });#}
{#            $('body').on('click', '#delete', function(e){#}
{#                e.preventDefault();#}
{#                $(this).parent('div').remove();#}
{#            });#}
{#        </script>#}



        </body>
</html>