
{% block content %}
    <div class="container">
        <h1 class="survey-title" style="font-family : '나눔스퀘어'; margin-top : 80px;">{{ field.question }}</h1>
        <hr style="width : 300px; margin-bottom : 50px;"/>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{% url 'survey:vote' question.id %}" method="post">
            {%  csrf_token %}
                {%  for choice in field.choice_set.all %}
                    <input type="radio" name="choose" id="choose{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                {% endfor %}
            <input type="submit" value="응답 제출"/>
        </form>
    </div>
{% endblock %}