{% load bootstrap4 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src=https://code.jquery.com/jquery-3.3.1.min.js integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>

</head>
    <body>
        <div class="container" style="margin-top : 50px;">
                <div class="row">
                    <div class="col-sm-12">
                        <h1> Create Your Own Survey Form!</h1>
                        <hr/>

                        <form action="" method="post">
                            {%  csrf_token %}
                            <table>
                                {{  form.as_table  }}
                            </table>
                            <input type="submit" class="btn btn-success mt-5 mb-5" value="다음">
                        </form>
                    </div>
                </div>
        </div>
    </body>
</html>