


<h1>{{ field.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'survey:vote' question.id %}" method="post">
    {%  csrf_token %}
        {%  for choice in field.choice_set.all %}
            <input type="radio" name="choose" id="choose{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
    <input type="submit" value="응답 제출"/>
</form>