{% extends 'response/base.html' %}

<script>
{% block jquery %}
    var defaultData = [];
    var labels = [];

    var json_fields = {{  json_fields }};
    var json_txt = {{ json_txt }};
    var json_graph = {{  json_graphs }};


    for (var id in json_fields) {
        if (json_fields[id].type==1){
            setChart(id);
        }else {
            setList(id);
        }
    }

    function setList(txt_id) {
        document.getElementById("list" + txt_id).innerHTML=": "+json_txt[txt_id].answer
        console.log(json_txt[txt_id].answer)

    }


    function  setChart(graph_id) {
        var ctx= document.getElementById("chart"+graph_id);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: json_graph[graph_id]['labels'],
                datasets: [{
                    label: '# of Votes',
                    data: json_graph[graph_id]['votes'],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    }


{% endblock %}
</script>


{% block content %}
<div class='container'>
    <div class='col-sm-12'>
        <h1 align="center">{{  survey.title }}</h1>
        <hr>
        <p align="center">{{ survey.subtitle  }}</p>
        <hr>
        {%  for id, field in fields.items  %}
            {%  if field.type == "1" %}
                <div class="container">
                    <h4>Q.{{ field.question }}</h4>
                    <div class='col-sm-6'>
                        <canvas id='chart{{ id }}' width="500" height="500"></canvas><br>
                    </div>
                </div><hr>
            {%  else  %}
                <div class="container">
                    <h4>Q.{{ field.question }}</h4>
                    <div class="col-sm-6" id="list{{ id }}"></div>
                </div><hr>
            {%  endif %}
        {% endfor %}

    </div>
</div>
{% endblock content %}
