{% extends 'response/base.html' %}

<script>
{% block jquery %}
    var endpoint = 'api/chart/data/';
    var defaultData = [];
    var labels = [];

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            labels = data.labels;
            defaultData = data.default;
            setChart();
        },
        error: function(error_data){
            console.log("error");
            console.log(error_data);
        }
    });

    function setChart() {
        {#for (field in fields){#}
        {#    field_id = field.pk;#}
        {#    var ctx = document.getElementById(("chart"+field_id))#}
        {#}#}

        var ctx= document.getElementById("chart"+"1");
        var ctx2 = document.getElementById("chart"+"3");

        var myChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }],
                    "xAxes":[] //only pie chart
                }
            }
        });


        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    }


{% endblock %}
</script>

{% block content %}
<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "response:api-data" %}'>
        <h1 align="center">with Chart.js</h1>
        <hr>
        {%  for field in fields  %}
            <div class = container>
                <h4>Q.{{ field.question }}</h4>
                <hr>
                <div class='col-sm-6'>
                    <canvas id='chart{{  field.pk  }}' width="400" height="400"></canvas><br><hr>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
