{% extends 'layout.html' %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% block content %}
    <div class="container">
        <h1>{{ survey.title }}</h1>
        <form action="" method="post">
        {% csrf_token %}
        <ul>
            {% for field in fields %}
                <li>{{ forloop.counter }}. {{ field }}</li>
                {% if field.multiplechoice_set.all %}
                    {% for choice in field.multiplechoice_set.all %}
                        <input type="radio" name="{{ field.id }}" id="{{ choice.id }}" value="{{ choice.id }}">
                        <label for="{{ choice.id }}">{{ choice.choice_text }}</label>
                    {% endfor %}
                {% else %}
                    <input type="text" id="{{ field.id }}" name="{{ field.id }}">
{#                    {{ field.id }}#}
                    <label for="{{ field.id }}"></label>
                {% endif %}
            {% endfor %}
        </ul>
            <input type="submit" class="btn btn-success" value="제출">
        </form>
    </div>
{% endblock %}
