{% extends 'board/main.html' %}
{% load static %}

{% block content %}
    <div class="middle_title">
        <p> {{ category }}</p>
    </div>
    <div class="container">
        <div class="row">
            {% for survey in surveys %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="{% static 'board/images/test2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div id="board_titles">
                                <p class="card-title">{{ survey.title }}</p>
                                <p class="card-text">{{  survey.subtitle  }}</p>
                            </div>
                            <div id="board_tags">
                            <p>
                                {% for tag in  survey.tag.all %}
                                    <a href="{% url 'board:survey_tag' tag.id %}" style="text-decoration: none">
                                        #{{ tag }}
                                    </a>
                                {% endfor %}
                            </p>
                            </div>
                            <div class="board_buttons">
                            <a href="{% url 'board:survey_detail' survey.id %}" class="response_button">Respond</a>
                            <a href="{% url 'board:survey_detail' survey.id %}" class="result_button">View Results</a>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
