{% extends "accounts/layout.html" %}
{%  load static %}
{% block content %}
    <div class="container Profile">
        <h2 id="ProfileTitle">My Profile</h2><hr id="ProfileHr">
            <ul class="ProfileList">
                <li class="ProfileCategory">ㆍUsernameㆍ</li>
                <li class="ProfileInfo"><td>{{ user.username }}</li>

                <li class="ProfileCategory"><td>ㆍEmailㆍ</li>
                <li class="ProfileInfo"><td>{{ user.email }}</li>

                <li class="ProfileCategory"><td>ㆍAddressㆍ</li>
                <li class="ProfileInfo"><td>{{ user.profile.address }}</li>

                <li class="ProfileCategory"><td>ㆍPhoneㆍ</td></li>
                <li class="ProfileInfo"><td>{{ user.profile.phone_number }}</li>

                <li class="ProfileCategory">ㆍOccupationㆍ</td></li>
                <li class="ProfileInfo">{{ user.profile.occupation }}</li>

                <li class="ProfileCategory">ㆍTagsㆍ</li>
                    {% for tag in user.profile.tag.all %}
                        <li class="ProfileInfo"><a href="{% url 'board:survey_tag' tag.id %}">#{{ tag }}</a></li>
                    {% endfor %}
            </ul>
    </div>
    <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" style="width:200px; margin-left:207px; margin-top : 20px;"/>
{% endblock %}