{% extends "accounts/layout.html" %}

{% block content %}
    <div class="container">
        <h2>{{ user }}'s Profile</h2>

        <ul class="list-group">
            <li class="list-group-item">Username: {{ user.username }}</li>
            <li class="list-group-item">Email: {{ user.email }}</li>
            <li class="list-group-item">Date joined: {{ user.date_joined }}</li>
            <li class="list-group-item">Address: {{ user.profile.address }}</li>
            <li class="list-group-item">Phone: {{ user.profile.phone_number }}</li>
            <li class="list-group-item">Occupation: {{ user.profile.occupation }}</li>
            <li class="list-group-item">Tags:
                {% for tag in user.profile.tag.all %}
                    <a href="{% url 'board:survey_tag' tag.id %}">#{{ tag }}</a>
                {% endfor %}
            </li>
            <li class="list-group-item">
                <a href="{% url 'survey:my_survey' %}">My Survey</a>
            </li>
        </ul>
    </div>

    <img src="{{ user.socialaccount_set.all.first.get_avatar_url }}" style="width:200px; margin-left:207px; margin-top : 20px;"/>
{% endblock %}