{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    <form action="", method="POST" enctype="multipart/form-data">#}
{#      {% csrf_token %}#}
{#        user name:{{ username }}#}
{#        <li>#}
{#            {{ form.as_table }}#}
{#        </li>#}
{##}
{#      <input type="submit" value="Submit">#}
{#    </form>#}
{#</body>#}
{#</html>#}

{% extends 'accounts/layout.html' %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% block content %}
    <h4>step1...</h4>
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
{% endblock %}
