{% extends 'accounts/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}

    <body class='signup-back'>
        <div class="container animated bounceInDown" id="bounceIn">
                <div class="SignupMiddleTitle"><p>Sign Up</p></div>
                <div class="container SignupFieldSet">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="SignupField">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        </div>
                        <div class="SignupButtonSet">
                            <button type="submit" class="btn btn-primary btn-lg">Next</button>
                            <button type="reset" class="btn btn-primary btn-lg">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
    </body>

{% endblock %}
