
{% extends 'accounts/layout.html' %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/css/style.css'%}">
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% bootstrap_css %}
{% block content %}

<body class="signup-back">
    <div class="container animated bounceInDown">
        <div class="SignupMiddleTitle"><p>Sign Up</p></div>
        <div class="container SignupFieldSet">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="SignupField">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="SignupButtonSet">
                <button type="submit" id="create-account" class="btn btn-primary btn-lg">Next</button>
            </div>
        </form>
        </div>
    </div>

<script>
    $(function() {
        $("#create-account").on('click', function () {
            alert("Congratulation!! Welcome to Branch Town!")
        });
    });
</script>


</body>

{% endblock %}
