.container {
    margin : 80px auto 150px auto;
    width: 900px;
    border: 1px solid #d7d7d7;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}


form {
    margin-left: auto;
    margin-right : auto;
}

.form-group{
    margin-left : auto;
    margin-right : auto;
}
.survey-title{
    text-align : center;
    margin-top : 40px;
    font-size : 45px;
    margin-bottom : 40px;
}

.form-control{
    width : 500px;
    margin-left : auto;
    margin-right : auto;
}

label{
    margin-left : 190px;
    width : 100px;
}

#create-button{
    margin-top : 100px;
    margin-left : 400px;
    margin-bottom : 100px;
}

.btn-lg {
    background-color : #af8c53;
    border : none;
    width : 100px;
    height : 50px;
}

.btn-lg:hover {
    background-color : #c0a16b;
    color : white;
    border : none;
}

#exp{
    float : right;
    color : #8c8c8c;
}

.add-button {
    width : 180px;
    margin-right : 15px;
    margin-bottom : 15px;
    margin-top : 25px;
}

.input-group-append{
    margin-top : 30px;
    text-align : center;

}

.btn-success {
    display : block;
    margin-left : auto;
    margin-right : auto;
    background-color : forestgreen;
}

.btn-success:hover{
    background-color : hotpink;
}

.btn-danger {
    display : block;
    margin-left : auto;
    margin-right : auto;
    background-color : darkred;
}

#form_set  {
    display : block;
    margin-top : 20px;
}

.choice-text{
    margin-top : 30px;
}

#submit-survey{
    margin-top : 40px;
    margin-bottom : 60px;
}

.add-question {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 150px;
    margin-top : 20px;
    margin-bottom: 40px;
}

.cont-center{
    margin-left : 50px;
    margin-right : 50px;
}
