{% extends 'layout.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}

<div class="middle_title">
    <p>Branch Members</p>
</div>

<!--- Cards -->
<div class="container-fluid padding" id="profiles">
<div class="row padding">
    <div class="col-md-3">
        <div class="card">
            <img class="card-imd-top" src="{%  static 'main/images/ys.jpg' %}" style="height: 300px;"/>
            <div class="card-body">
                <h4 class="card-title">최 연 석(26)</h4>
                <P><br/>서울대학교 조선해양공학과</P>
                <a href="#" class="btn btn-outline-secondary">Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-imd-top" src="{%  static 'main/images/mi.jpg' %}" style="height: 300px;"/>
            <div class="card-body">
                <h4 class="card-title">강 미 경(23)</h4>
                <P>성신여자대학교 통계학과/컴퓨터공학과</P>
                <a href="#" class="btn btn-outline-secondary">Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-imd-top" src="{% static "main/images/jeong.jpg" %}" style="height: 300px;"/>
            <div class="card-body">
                <h4 class="card-title">문 정 원(26)</h4>
                <P>서울대학교 의류학과/컴퓨터공학부</P>
                <a href="#" class="btn btn-outline-secondary">Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-imd-top" src="{%  static 'main/images/jaewon.jpg' %}" style="height: 300px;"/>
            <div class="card-body">
                <h4 class="card-title">이 재 원(21)</h4>
                <P><br/>세종대학교 소프트웨어학과</P>
                <a href="#" class="btn btn-outline-secondary" >Profile</a>
            </div>
        </div>
    </div>
</div>
</div>


    <div class="container-fluid">
    <div class="row jumbotron">
        <div class="personalized">
            <p class="lead">Customer Center</p>
            <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg" id="recommendation">Q & A</button></a>

        </div>
    </div>
    </div>

        <!--- connect -->
    <div class="container-fluid padding" style="margin-top : 100px;">
    <div class="row text-center padding">
    <div class="col-12">
        <h2>Connect</h2>
    </div>
    <div class="col-12 social padding">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    </div>
    </div>
{% endblock %}
