{% extends 'layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
{% endblock %}

{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active carousel_1">
                <div class="basket">
                    <div class="events event_1">대학생을 위한 <br>전용 설문 공유 플랫폼</div>
                </div>
            </div>
            <div class="carousel-item carousel_2">
                <div class="basket">
                    <div class="events event_2">신학기 맞이 이벤트!!
                        <br>3월 안에 회원가입 시 5000원 기프트 증정!!</div>
                </div>
            </div>
            <div class="carousel-item carousel_3">
                <div class="basket">
                    <div class="events event_3">뭉치면 이득이다. <br>팀 등록시 설문 게재 기간 5일 연장!! </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="middle_title">
        <b>◈ 새로 올라운 설문</b>
    </div>
    <div class="container">
        <div class="row">
            {% for x in range %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="{% static 'images/logo.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">설문 제목</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">설문 응답하기</a>
                            <a href="#">
                                <img src="{% static 'images/share.png' %}" alt="" width="30">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="middle_title">
        <b>◈ 핫한 기프티콘</b>
    </div>
{% endblock %}