{% load static}

.container{
    margin-left : auto;
    margin-right : auto;
}

.SignupTotalField {
    width: 600px;
    margin: auto;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.SignupMiddleTitle p{
    color: #af8c53;
    text-align: center;
    font-family: "나눔스퀘어 Light", serif;
    letter-spacing: 3px;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 100px;
}


.SignupButton1 {
    background-color: #c4a784;
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 80px;
    height: 50px;
}


.SignupButtonSet {
    text-align: center;
}


.SignupFieldSet {
    text-align: center;
}

.SignupField {
    margin-bottom: 50px;
    display: inline-block;
    width: 500px;
}




.Profile {
    font-family: "나눔스퀘어 Light", serif;
    width: 550px;
    padding: 20px;
    margin-top: 30px;
    background-color: #fbfbfb;
    border: 1px solid #d5ba8c;
}


#ProfileTitle {
    color: #af8c53;
    text-align: center;
    font-family: "나눔스퀘어 Light", serif;
    letter-spacing: 4px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#ProfileHr {
    width: 250px;
    border-color: #d5ba8c;
    margin-bottom: 30px;
}

.ProfileList {
    width: 300px;
    text-align: center;
    padding: 0px;
    margin: auto;

}


.ProfileList tr, td {
    border: none;
    text-align: center;
}


.ProfileCategory {
    font-size: 20px;
    letter-spacing: 2px;
    color: #af8c53;
    display: inline-block;
}

.ProfileInfo {
    margin-bottom: 30px;

}
