{% load static}

.container{
    margin-left : auto;
    margin-right : auto;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
 @-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.SignupTotalField {
    width: 600px;
    margin: auto;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.SignupMiddleTitle p{
    color: #af8c53;
    text-align: center;
    font-family: "나눔스퀘어 Light", serif;
    letter-spacing: 3px;
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 80px;
}


label {
    color : floralwhite;
    padding-right : 300px;
    width : 500px;
    text-align : left;
}


.SignupButtonSet {
    text-align: center;
}


.SignupFieldSet {
    text-align: center;
}

.SignupField {
    margin-bottom: 30px;
    display: inline-block;
    width: 500px;
}


.signup-back{
    background-image : linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/tree3.jpg");
    background-size : cover;
    background-position : center center;
}


.btn-lg {
    background-color : #af8c53;
    border : none;
    width : 100px;
    height : 50px;
}

.btn-lg:hover {
    background-color : #c0a16b;
    color : white;
    border : none;
}

.form-group{
    width : 400px;
    margin-left : auto;
    margin-right : auto;
}

.form-group #sample4_postcode{
    text-align : left;
    float : left;
    width : 250px;
    height : 38px;
    margin-bottom : 15px;
    border-radius : 3px;
    border: none;
    padding : 10px;
}
.form-group #sample4_jibunAddress{
    text-align : left;
    float : left;
    width : 176px;
    height : 38px;
    margin-bottom : 15px;
    border-radius : 3px;
    border: none;
    padding : 10px;
}

.form-group #sample4_roadAddress{
    width : 176px;
    height : 38px;
    margin-bottom : 15px;
    border-radius : 3px;
    border: none;
    padding : 10px;
}


.Profile {
    font-family: "나눔스퀘어 Light", serif;
    width: 550px;
    padding: 20px;
    margin-top: 30px;
    background-color: #fbfbfb;
    border: 1px solid #d5ba8c;
}


#ProfileTitle {
    color: #af8c53;
    text-align: center;
    font-family: "나눔스퀘어 Light", serif;
    letter-spacing: 4px;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#ProfileHr {
    width: 250px;
    border-color: #d5ba8c;
    margin-bottom: 30px;
}

.ProfileList {
    width: 300px;
    text-align: center;
    padding: 0px;
    margin: auto;

}


.ProfileList tr, td {
    border: none;
    text-align: center;
}


.ProfileCategory {
    font-size: 20px;
    letter-spacing: 2px;
    color: #af8c53;
    display: inline-block;
}

.ProfileInfo {
    margin-bottom: 30px;

}

#ProfileMysurvey {
    color: #af8c53;
}

